<div class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Notification System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="right-content">
      <ul class=" navbar-nav mr-auto">
        <li class="nav-link">
          <%=link_to("Posts",posts_path,class:"app_link")%>
        </li>
      </ul>
    </div>
    <div class="left-content">
      <%= turbo_stream_from @user.id,"notifications" %>
      <div id="notifications_button">
        <ul class=" navbar-nav mr-auto">
          <li class="nav-link">
            <div class="btn-group">
              <button type="button" class="btn btn-dark notification-icon"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell fa-lg" ></i>
                <div id="notifications_counter">
                  <%= render partial: "layouts/navbar/notifications_counter", locals: {notifications_count: @notifications.count}%>                                      
                </div>
              </button>

              <%= turbo_frame_tag  "notifications" do %>
                <div class="dropdown-menu">
                  <div id="notifications_items">
                    <%=render  partial:"notifications/notifications", locals:{notifications: @notifications} %>
                  </div>
                </div>
              <%end%>

          </li>
        </ul>
      </div>
    </div>


  </div>
</div>
